<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>${mail}</title>
</head>
<body>
<h1 style = "font-size : 26">안녕하세요 ${name} 님</h1><br>
<div style = "border : 3px solid lightgray; padding : 5em;">
	<p style = "color : green"><b>DOBEE에 회원등록이 되었습니다.</b></p><br>
	<p>-------------------------------------------------------------</p><br>
	<p> 등록일 : ${date}</p><br>
	${path}<br>
	<form action="http://${path}" target="_blank" method="POST" >
		<input type="hidden" name="mail" id="mail" value="${mail}" read>
		<input type="submit" value="비밀번호 설정하기">
	</form>
</body>
</html>