<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">
    <!--
      Root 공통빈
      DB관련 작업 (드라이버 로딩 , 템플릿 객체)
      view 작업 (공통 UI) (internalResourceViewResolver)

      import org.springframework.jdbc.datasource.DriverManagerDataSource;
      import org.springframework.jdbc.core.JdbcTemplate;

    -->
    <!-- 공통 DB작업  -->
    <bean id="driverManagerDataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://192.168.6.55:3306/dobee?serverTimezone=UTC&amp;characterEncoding=UTF-8" />
        <property name="username" value="dobee" />
        <property name="password" value="1004" />
    </bean> 

    <bean id="bCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
    </bean>

    
    
    
    <!-- 공통 UI  -->
	


    <!-- Mybatis 설정
   기본 자바코드 : SqlMapConfig.xml 에서 설정했던 작업 (DB연결 ,mapper 설정)
   파일 없어지고 설명파일안에서   > SqlSessionFactoryBean
   기존 java 코드 : builder 사용 > Factory 객체 > sqlsession 생성 > 사용

   두개의 클래스가 위 작업 처리
   SqlSessionFactoryBean
   SqlSessionTemplate
    -->
    <bean id="sqlSessionFactoryBean"  class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="driverManagerDataSource"/>
        <property name="mapperLocations" value="classpath*:com/dobee/mapper/*xml" />
        <!-- <property name="configLocation" value="classpath:/mybatis-config.xml" />
        mybatis-config.xml을 만들어서 아래 설정을 만들수 있다
        <configuration>

        <settings>
            <setting name="mapUnderscoreToCamelCase" value="true"/>
        </settings>
        <typeAliases></typeAliases>
    </configuration>
        -->
    </bean>

    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactoryBean"/>
    </bean>
    <!-- Mybatis 설정  -->



    <!-- 파일 업로드지원 Resolver -->
    <!-- <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/> 10M
    </bean> -->
	
	
	<!-- 메일 전송 설정 -->
   <!-- Root Context: defines shared resources visible to all other web components -->
   <bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
      <property name="resourceLoaderPath" value="/WEB-INF/velocity/" />
      <property name="velocityProperties">
         <value>
            input.encoding=UTF-8
            output.encoding=UTF-8
         </value>
      </property>
   </bean>

   <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
      <property name="resourceLoaderPath" value="/WEB-INF/velocity/" />
   </bean>

   <bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
      <property name="host" value="smtp.gmail.com" />
      <!-- <property name="port" value="587" /> -->
      <property name="username" value="uckjae@gmail.com" />
      <property name="password" value="!dldnr7wo^g" />
      <property name="javaMailProperties">
         <props>
            <prop key="mail.smtp.auth">true</prop>
            <prop key="mail.smtp.starttls.enable">true</prop>
            <prop key="mail.debug">true</prop>
         </props>
      </property>
   </bean>
</beans>